In [ ]:
a = (1,2,3,4,56,6,5)

In [ ]:
x = 0
for i in a:
  x += 1
  print(f"{x}")
  if i == 5:
    print("Знайшов")
    break

1
2
3
4
5
6
7
Знайшов

In [ ]:
set_example = {1,1,1,2,3,4,5}

In [ ]:
4 in set_example

True

In [ ]:
a = {
    'key': 'value',
    1: 44,
    1: 42,
}

In [ ]:
a_d = dict(name=44, value=55)

In [ ]:
a_d

{'name': 44, 'value': 55}

In [ ]:
l = [
    (0.2, 0.4),
    (0.4, 0.6),
]

In [ ]:
def func_example():
  return (0, 4, 5)

In [ ]:
a = [1,2,3,4,5,6,7]

print(a)

a.append(8)

print(a)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
a.remove(6)

In [ ]:
a

[1, 2, 3, 4, 5, 7, 8]

In [ ]:
a.remove(7)

In [ ]:
a

[1, 2, 3, 4, 5, 8]

In [ ]:
a.insert(1, 42)

In [ ]:
a

[1, 42, 2, 3, 4, 5, 8]

In [ ]:
a.insert(6, 23)

In [ ]:
a

[1, 31, 33, 33, 42, 2, 23, 3, 4, 5, 8]

In [ ]:
a.sort(reverse=True)

In [ ]:
t = (1,2,3,3,3,3,34,5,65)

In [ ]:
t.index(65)

8

In [ ]:
(1,2,3,4) + (5,6,7,8)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
a = {1,2,3,4,5,6,7}

In [ ]:
a.add(42)

In [ ]:
a

{1, 2, 3, 4, 5, 6, 7, 42}

In [ ]:
a.remove(42)

In [ ]:
a

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
b = {5,6,7,8,9}

In [ ]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
a.symmetric_difference(b)

{1, 2, 3, 4, 8, 9}

In [ ]:
a.intersection(b)

{5, 6, 7}

In [ ]:
a = {"a", "b", "c"}

In [ ]:
c = {"a", "b", "c"}

In [ ]:
a.symmetric_difference(c)

set()

In [ ]:
d = {'a': 1, 'b': 2, 'c': 4}

In [ ]:
d

{'a': 1, 'b': 2, 'c': 4}

In [ ]:
d.get('a', None)

1

In [ ]:
del d['a']

In [ ]:
d.get('a', 'None')

'None'

In [ ]:
a = [1,2,3,4,5]

In [ ]:
for key in d:
  print(f"key: {key}; value={d[key]}")

key: b; value=2
key: c; value=4

In [ ]:
for key in d.keys():
  print(f"key: {key}; value={d[key]}")

key: b; value=2
key: c; value=4

In [ ]:
for value in d.values():
  print(f"value: {value}")

value: 2
value: 4

In [ ]:
for key, value in d.items():
  print(f"key: {key}; value: {value}")

key: b; value: 2
key: c; value: 4

#Відфільтруйте унікальні не-спам email-адреси зі списку email-ів.

In [ ]:
emails = ["friend@example.com", "spam@example.com", "friend@example.com"]
spam_list = {"spam@example.com"}

In [ ]:
emails = set(emails)

In [ ]:
emails.symmetric_difference(spam_list)

{'friend@example.com'}

# Створіть список покупок, де кожна покупка представлена словником, що містить назву товару, кількість та ціну за одиницю. Розрахуйте загальну вартість покупок.

In [ ]:
shopping_list = [
    {"name": "milk", "quantity": 2, "price": 30},
    {"name": "bread", "quantity": 1, "price": 20},
    {"name": "eggs", "quantity": 12, "price": 50}
]

In [ ]:
shopping_sum = 0

for element in shopping_list:
  value = element['price'] * element['quantity']
  shopping_sum += value

milk
bread
eggs

In [ ]:
sum([element['price'] * element['quantity'] for element in shopping_list])

680

#Підрахуйте відповіді за категоріями від учасників опитування.

In [ ]:
survey_responses = [
    {"name": "Alice", "response": "Yes"},
    {"name": "Bob", "response": "No"},
    {"name": "Charlie", "response": "Yes"},
    {"name": "Valeria", "response": "No"},
    {"name": "Dima", "response": "No"},
    {"name": "Smit", "response": "No"},
]

In [ ]:
yes_count = 0
no_count = 0
for element in survey_responses:
  if element['response'] == 'Yes':
    yes_count += 1
  if element['response'] == 'No':
    no_count += 1
  else:
    continue

In [ ]:
print(yes_count)
print(no_count)

2
4

In [ ]:
yes_count = 0
no_count = 0
for element in {1,2,3,4,5}:
  no_count += 1

#Визначення переможця змагань

In [ ]:
results = [
    ("Alice", "B", 9),
    ("Bob", "C", 12),
    ("Charlie", "D", 11),
    ("Dima", "B", 1),
]

In [ ]:
winner_name = ''
max_result = 0

for name, surname, score in results:
  print(f"{name} {surname} {score}")
  if score > max_result:
    max_result = score
    winner_name = name + " " + surname

Alice B 9
Bob B 12
Charlie B 11
Dima B 1

In [ ]:
print(winner_name)

Bob B

#Розрахунок середнього балу студентів

In [ ]:
students_grades = {
    "Alice": [4, 5, 3, 4, 7, 89],
    "Bob": [5, 5, 4, 5, 33],
    "Charlie": [3, 4, 2, 3]
}

In [ ]:
for student_name, student_grades in students_grades.items():
  grade_avg = sum(student_grades) / len(student_grades)
  print(f"Student name: {student_name}; student grade: {grade_avg}")

Student name: Alice; student grade: 18.666666666666668
Student name: Bob; student grade: 10.4
Student name: Charlie; student grade: 3.0

In [ ]:
students_grades['Alice']

[4, 5, 3, 4]

In [ ]:
for key, valua in students_grades.items():
  print(key)
  print(valua)

Alice
[4, 5, 3, 4, 7, 89]
Bob
[5, 5, 4, 5, 33]
Charlie
[3, 4, 2, 3]